@namespace ScissorHands.Theme.MinimalBlog.Components.PostCard

<article class="home card">
    @if (IsEmpty == true)
    {
        <div class="home card-content">
            <p class="home card-desc">No posts found.</p>
        </div>
    }
    else
    {
        @if (!string.IsNullOrWhiteSpace(Post.Metadata.HeroImage))
        {
            <div class="home card-image">
                <a href="/@Post.Metadata.Slug/"><img src="@Post.Metadata.HeroImage" alt="@Post.Metadata.Title" loading="lazy" /></a>
            </div>
        }
        <div class="home card-content">
            <div class="home card-meta">
                @if (Post.Metadata.Published is { } published)
                {
                    <span>@published.ToString("MMMM dd, yyyy")</span>
                }
            </div>
            <a class="home link" href="/@Post.Metadata.Slug/">
                <h2 class="home card-title">@Post.Metadata.Title</h2>
                @if (!string.IsNullOrWhiteSpace(Post.Metadata.Description))
                {
                    <p class="home card-desc">@GetTruncatedDescription()</p>
                }
            </a>
            @if (Post.Metadata.Tags.Any())
            {
                <ul class="home card-tags">
                    @foreach (var tag in Post.Metadata.Tags)
                    {
                        <li>@tag</li>
                    }
                </ul>
            }
        </div>
    }
</article>

@code {
    /// <summary>
    /// Gets or sets the <see cref="ContentDocument"/> instance.
    /// </summary>
    [Parameter]
    public ContentDocument Post { get; set; } = new();

    /// <summary>
    /// Gets or sets the maximum length of the description to display.
    /// </summary>
    [Parameter]
    public int MaxDescriptionLength { get; set; } = 150;

    /// <summary>
    /// Gets or sets a value indicating whether the post card is for the empty content.
    /// </summary>
    [Parameter]
    public bool IsEmpty { get; set; }

    private string GetTruncatedDescription()
    {
        if (string.IsNullOrWhiteSpace(Post.Metadata.Description))
        {
            return string.Empty;
        }

        if (Post.Metadata.Description.Length <= MaxDescriptionLength)
        {
            return Post.Metadata.Description;
        }

        return $"{Post.Metadata.Description.Substring(0, MaxDescriptionLength)}...";
    }
}
