@inherits ScissorHands.Theme.MainLayoutBase

<!DOCTYPE html>
<html lang="@Site!.Locale">
<head>
    <GoogleAnalyticsComponent Documents="@Documents" Document="@Document" Plugin="@GoogleAnalyticsPlugin" Theme="@Theme" Site="@Site" />
    @* <plugin:google-analytics /> *@

    <base href="@Site!.BaseUrl" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/favicon.ico")" />
    <meta name="generator" content="@Site!.Generator" />

    <title>@((MarkupString)Site!.Title)</title>
    <meta name="title" content="@Site!.Title" />
    <meta name="description" content="@Site!.Description" />

    <OpenGraphComponent Documents="@Documents" Document="@Document" Plugin="@OpenGraphPlugin" Theme="@Theme" Site="@Site" />
    @* <plugin:open-graph /> *@

    @if (Theme!.Stylesheets is not null)
    {
        foreach (var css in Theme!.Stylesheets)
        {
            <link rel="stylesheet" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}{css}")" />
        }
    }
</head>
<body>
    <Header Site="Site" Theme="Theme" />

    <main class="site-main">
        @Body
    </main>

    <Footer Site="Site" />

    @if (Theme!.Scripts is not null)
    {
        foreach (var script in Theme!.Scripts)
        {
            <script src="@($"/themes/{Theme!.Slug.TrimEnd('/')}{script}")"></script>
        }
    }
</body>
</html>

@code {
    /// <summary>
    /// Gets or sets the <see cref="PluginManifest"/> instance for Google Analytics.
    /// </summary>
    protected PluginManifest? GoogleAnalyticsPlugin { get; set; }

    /// <summary>
    /// Gets or sets the <see cref="PluginManifest"/> instance for Open Graph.
    /// </summary>
    protected PluginManifest? OpenGraphPlugin { get; set; }

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        GoogleAnalyticsPlugin = Plugins?.SingleOrDefault(p => p.Name!.Equals("Google Analytics", StringComparison.OrdinalIgnoreCase));
        OpenGraphPlugin = Plugins?.SingleOrDefault(p => p.Name!.Equals("Open Graph", StringComparison.OrdinalIgnoreCase));
    }
}